node_modules
.vs/slnx.sqlite
.vs/Osceola2/v15/.suo
.vs/ProjectSettings.json
CognitiveRelay/.vs/CognitiveRelay/v15/Server/sqlite3/db.lock
CognitiveRelay/CognitiveRelay/obj
CognitiveRelay/CognitiveRelay/bin