node_modules
.vs/slnx.sqlite
.vs/Osceola2/v15/.suo
.vs/ProjectSettings.json
/CognitiveRelay/CognitiveRelay/bin
/CognitiveRelay/CognitiveRelay/obj
/CognitiveRelay/.vs/CognitiveRelay
/CognitiveRelay/.vs/config
/CognitiveRelay/CognitiveRelay/Properties/PublishProfiles
